/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Body */

body {
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, sans-serif;
	font-size: 14px;
	color: #262c26;
}

/* Page Breakdown (header, main, footer) */

header,
main,
footer {
	border: 2px solid green;
	width: 690px;
	margin: 0 auto;
	margin-bottom: 15px;
}


header {
	border: 0;
	height: 96px;
	padding-top: 40px;
	color: #333;
}

main {
	clear: both;
	height: 739px;
}

footer {
	/* clear: both */
	height: 154px;
	margin-bottom: 0;
	color: #333;
}

/* Header */
a#logo-link {
	display: inline-block;
	float: left;
	background: url(images/logo.png) 0 0 no-repeat;
	background-size: 60%;
	margin-top: 20px;
	height: 55px;
	width: 194px;
}

#authenticate-tabs {
	float: right;
	height: 55px;
	width: 135px;
}

#authenticate-tabs a {
	text-decoration: none;
}

#authenticate-tabs a:hover,
#authenticate-tabs a:visited,
#authenticate-tabs a:link,
#authenticate-tabs a:active {
	color: #333;
}

#signup,
#login {
	display: inline-block;
	float: left;
	text-align: center;
	width: 50%;
	margin-top: 40px;
	letter-spacing: 0.05em;
}

#signup {
	font-weight: 600;
	border-right: solid 1px lightgray;
	padding-right: 10px;
}