/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Body */

body {
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
}

/* Page Breakdown (header, main, footer) */

header,
main,
footer {
	width: 690px;
	margin: 0 auto;
	margin-bottom: 15px;
}


header {
	border: 0;
	height: 96px;
	padding-top: 40px;
}

main {
	clear: both;
	height: 739px;
}

footer {
	/* clear: both */
	height: 154px;
	margin-bottom: 0;
	color: #333;
}

/* Header */

a#logo-link {
	display: inline-block;
	float: left;
	background: url(images/logo.png) 0 0 no-repeat;
	background-size: 60%;
	margin-top: 20px;
	height: 55px;
	width: 194px;
}

#authenticate-tabs {
	float: right;
	height: 55px;
	width: 150px;
}

#authenticate-tabs a {
	text-decoration: none;
}

#authenticate-tabs a:hover,
#authenticate-tabs a:visited,
#authenticate-tabs a:link,
#authenticate-tabs a:active {
	color: #333;
}

#signup,
#login {
	display: inline-block;
	float: left;
	text-align: center;
	width: 50%;
	margin-top: 40px;
	letter-spacing: 0.05em;
}

#signup {
	font-weight: 600;
	border-right: solid 1px lightgray;
	padding-right: 10px;
}

/* Columns */

.col-1,
.col-2 {
	display: inline-block;
}

.col-1 {
	border-right: solid 1px lightgray;
	width: 63%;
	margin-left: 1.5%;
	margin-right: 1.5%;
}

.col-2 {
	vertical-align: top;
	width: 31.5%;
	margin-right: 1.5%;
}

/* Main */

main {
	border: 1px solid #f1f1f1;
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}

main h1 {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 40px;
	margin-left: 7%;
	margin-top: 37.5px;
}

/* Main - Signup Form */

#signup-form {
	display: inline-block;
	width: 75%;
	margin-left: 10%;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

input, 
select {
	display: block;
	border-color: rgb(169, 169, 169);
	width: 266px;
	height: 30px;
	padding: 2px;
	border: solid 1px #ccc;
	margin-bottom: 30px;
}

input {
	border-radius: 5px;
}

#zipcode {
	width: 74px;
}

#remember-me {
	display: inline;
	height: 13px;
	width: 13px;
}

#signup-form label:last-child {
	display: inline;
	font-size: 13px;
	color: #666;
	font-weight: normal;
}

#signup-form label:last-child a {
	font-size: 14px;
	color: #006ea4;
	text-decoration: none;
}

#signup-form label:last-child a:hover {
	text-decoration: underline;
}

#submit-btn {
	font-size: 12px;
	color: #fff;
	background: #fbb450;
	background: linear-gradient(#fbb450, #f89406);
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	padding: 7.5px 12.5px;
}

/* Main - Quick Facts */

#quick-facts {
	display: inline-block;
	width: 90%;
	min-height: 100px;
	background: #f5f5f5;
	margin-left: 10px;
	color: #666;
	padding-bottom: 30px;
}

#quick-facts h3 {
	font-size: 20px;
	font-weight: 500;
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
}

#quick-facts li {
	list-style-type: disc;
	font-size: 11px;
	margin-left: 37.5px;
	padding-right: 18.5px;
	line-height: 1.4em;
}

#quick-facts li a {
	color: #666;
}

/* Footer */

footer {
	text-align: center;
	font-size: 11px;
}

nav#footer-links {
	margin-top: 22.5px;
	margin-bottom: 22.5px;
}

#footer-links a {
	color: #666;
	text-decoration: none;
	margin-right: 18px;
}

#footer-links a:hover {
	text-decoration: underline;
}

#footer-links a:link,
#footer-links a:visited,
#footer-links a:active {
	color: #666;
}

#verisign-logo,
#truste-logo {
	display: inline-block;
	background: url('https://images.mint.com/web-client/images/security-sacbbe957cd.png') no-repeat;
	margin: 0 20px;
}

#verisign-logo {
	height: 58px;
	width: 124px;
	background-position: 0 -178px;
}

#truste-logo {
	height: 52px;
	width: 160px;
	background-position: 0 -126px;
}

.copyright {
	display: block;
	margin-top: 7.5px;
	color: #999;
}

#copyright-codes {
	margin-left: 15px;
	padding-left: 10px;
	border-left: 1px solid #ccc;
}